apiVersion: v1
kind: Service
metadata:
  name: webapp-service
spec:
  type: NodePort
  selector:
    app: webapp
  ports:
    - protocol: TCP
      port: 80        # port inside cluster
      targetPort: 80  # port container listens on
      nodePort: 32000 # port exposed on worker nodes
